.post {
    display: flex;
    flex-direction: column;
}
.title {
    text-align: center;
}
.tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}
.sortButtons {
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.note {
    position: relative;
    min-height: 100px;
}

.note button {
    position: absolute;
    top: 0;
    right: 0;
}