@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap');

* {
    box-sizing: border-box
}
body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}
button {
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    background: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.container {
    min-height: 100vh;
}
.content {
    max-width: 1440px;
    margin: 0 auto;
    padding: 2rem 10rem 3rem;
    min-height: calc(100vh - 100px);
    z-index: 1;
    position: relative;
}
input, textarea, button, select, option {
    font-size: 16px;
    outline: unset;
    border: 0;
}

@media screen and (max-width: 767px) {
    .content {
        padding: 2rem;
    }
}