.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-radius: 10px;
    background-color: #fff;
    z-index: 2;
    max-width: 700px;
    margin: 20px auto;
}

.formContainer .formItem button {
    max-width: 100%;
    width: 200px;
    margin-top: 20px;
}
.formContainer .formItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.formItem label {
    padding-left: 15px;
}
.formItem.formButton {
    align-items: center;
}
.formContainer form,
.formContainer .formItem input,
.formContainer .formItem textarea,
.formContainer .formItem select,
.formContainer .formItem option {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    max-height: 400px;
    min-height: 50px;
}

.formItem input, .formItem textarea, .formItem select, .formItem option {
    border: 1px solid #000;
    border-radius: 10px;
    margin: 10px 0;
    padding: 15px;
    background: #fff;
}
.formContainer h2 {
    text-align: center;
}
.blackBtn {
    outline: unset;
    border: none;
    cursor: pointer;
    margin: 10px;
    padding: 15px;
    border-radius: 16px;
    background-color: black;
    color: white;
    transition: .2s;
}

.blackBtn:hover {
    background-color: rgba(1, 1, 1, 0.8)
}

.formItem small {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding-left: 15px;
    color: #D8000C;
}
.resultTitle {
    text-align: center;
    padding-top: 200px;
}
.modalWindow {
    background: rgba(0,0,0,0.5);
    position: absolute;
    width: 100%;
    margin: auto;
    height: 100%;
    align-items: center;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}
.modalWindow .formContainer {
    width: 100%;
    max-width: 50%;
    position: relative;
}
.closeBtn {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 25px;
}
.title {
    text-align: center;
}